<h1>Candidatos aplicados na sua vaga</h1>
<% @job.apply_jobs.each do |candidate| %>
  <p><%= link_to candidate.profile.full_name, candidate.profile %></p>
  <% if candidate.profile.featured? %>
    <p>Candidato destacado*</p>
  <% end %>
  <%= link_to 'Destacar', featured_profile_path(candidate.profile_id) %>
  <%= link_to 'Rejeitar', reject_job_apply_job_path(@job, candidate) %>
  <%= link_to 'Enviar proposta', new_job_proposal_path(job_id: @job.id, profile_id: candidate.profile.id)%>
  <% if candidate.rejected? %>
    <p>Perfil rejeitado</p>
    <%= form_with url: reject_job_apply_job_path(candidate), method: :get, local: true do |f| %>
      <%= f.label :reject_feedback,'Escreva um Feedback' %>
      <%= f.text_field :reject_feedback %>
      <%= f.submit 'Enviar Feedback' %>
    <% end %>
  <% end %>
<% end %>






 