<!DOCTYPE html>
<html>
  <head>
    <title>JobSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <nav>
      <% if current_head_hunter %>
        <%= link_to 'Vagas', jobs_path %>
        <%= link_to 'Ver candidatos cadastrados', profiles_path %>
        <%= link_to 'Sair', destroy_head_hunter_session_path, method: :delete %>
      <% end %>
      <% if current_candidate %>
        <%= link_to 'Vagas', jobs_path %>
        <%= link_to 'Perfil', current_candidate.profile %>
        <%= link_to 'Sair', destroy_candidate_session_path, method: :delete %>
      <% end %>
      <% if current_head_hunter.nil? && current_candidate.nil? %>
        <%= link_to 'Cadastrar Candidato', new_candidate_registration_path %>
        <%= link_to 'Cadastrar Headhunter', new_head_hunter_registration_path %>
        <%= link_to 'Entrar - Headhunter', new_head_hunter_session_path %>
        <%= link_to 'Entrar - Candidato', new_candidate_session_path %>
      <% end %>
    </nav>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </body>
</html>
